EXPO_PUBLIC_API_URL=http://YOUR_LOCAL_IP:4000/v1
EXPO_PUBLIC_EAS_PROJECT_ID=YOUR_EAS_PROJECT_ID
EXPO_PUBLIC_REVENUECAT_APPLE_API_KEY=appl_YOUR_REVENUECAT_APPLE_PUBLIC_KEY
EXPO_PUBLIC_REVENUECAT_GOOGLE_API_KEY=goog_YOUR_REVENUECAT_GOOGLE_PUBLIC_KEY
